{% extends "base.html" %}
{% load staticfiles %}


	{% block content%}
	<!-- Post Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <h3>{{ page.content }}</h3>
                </div>
                {% for post in posts %}
                <div class="post-preview">
                    <a href="{% url 'blog:post_detail' post.slug %}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.subtitle }}
                        </h3>
                    </a>
                    <p class="post-meta">Publicado por <a href="#">{{ post.author }}</a> em {{ post.publish_date }}</p>
                </div>
                <hr>
                {% empty %}
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Seja bem-vindo ao site do Circulo de Aikido Luc Leoni
                        </h2>
                        <h3 class="post-subtitle">
                            Em breve traremos notícias sobre as atividades de nossos dojos filiados.
                        </h3>
                    </a>
                    <p class="post-meta">Publicado por <a href="#">Luc Leoni</a> em Post Inaugural</p>
                </div>
                <hr>
                {% endfor %}
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="{% url 'blog:posts_list' %}">Mais antigos &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
	{% endblock content%}

